{% extends 'base2.html' %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Change Password</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="{% url 'index' %}">Home</a></p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Change Your Password</h4>
                    {% include 'login_message.html' %}
                    <form action="{% url 'change_password' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <!-- <label>Current Password</label> -->
                            <input type="password" name="current_password" class="form-control" placeholder="Current Password" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <!-- <label>Create New Password</label> -->
                            <input type="password" name="new_password" class="form-control" placeholder="Create New Password" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <!-- <label>Confirm New Password</label> -->
                            <input type="password" name="confirm_password" class="form-control" placeholder="Confirm New Password" required>
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                {% include 'include_sidebar.html' %}
            </div>
        </div>
    </div>
    <!-- Checkout End -->

{% endblock %}