
    <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
            <h5 class="font-weight-normal m-0">
                <a href="{% url 'dashboard' %}">Dashboard</a></h5>
        </div>
        <div class="card-header bg-secondary border-0">
            <h5 class="font-weight-normal m-0">
                <a href="{% url 'my_orders' %}">Order History</a></h5>
        </div>
        <div class="card-header bg-secondary border-0">
            <h5 class="font-weight-normal m-0">
                <a href="{% url 'edit_profile' %}">Edit Profile</a></h5>
        </div>
        <div class="card-header bg-secondary border-0">
            <h5 class="font-weight-normal m-0">
                <a href="{% url 'change_password' %}">Change Password</a></h5>
        </div>
        
    </div>
    