/* Hide radio buttons */

.rate > input {
    display: none;
}

.rate{
    display: inline-block;
    border: 0;
    margin-top: -6px;
}

.rate > label {
    float: right;
    margin-bottom: 1px;
    color: black;
    
}


/* Showing the stars */

.rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;  
}

/* half star */
.rate .half:before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

/* #D19C97 */
/* click and :hover */
input:checked ~ label,
label:hover ~ label{
    color: #D19C97;
    background-color: white;
}

input:checked + label:hover,
input:checked ~ label:hover,
input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
    color: orange;
}